* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white; /* Text Color */
  font-family: sans-serif; 
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(0, 33, 140), teal, white);
}

#studyTimeInput, #breakTimeInput {
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: textfield; /* Firefox */
  appearance: none;
  margin: 0; /* Reset margin */
}

.timer {
  display: flex;
  justify-content: center;
}

