:root {
  --color-primary: rgb(3, 63, 119);
  --color-accent:  #457b9d;
  --timer-fill:  #86d7ff;
  
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white; /* Text Color */
  font-family: "Sour Gummy", sans-serif; 
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  color: white
}

#studyTimeInput, #breakTimeInput {
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: textfield; /* Firefox */
  appearance: none;
  margin: 0; /* Reset margin */
}

.timer-container {
  position: relative;
  width: 300px;    /* match the SVG size */
  height: 300px;   /* match the SVG size */
}

.timer-container svg {
  /* x-offset, y-offset, blur-radius, color */
  filter: drop-shadow(0px 4px 8px  var(--color-accent));
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 32px;
}

#timer-circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: var(--timer-fill);
}


.controls {
  position: absolute;      /* pull it out of flow, overlaying the SVG */
  bottom: 20%;            /* 20% up from the bottom edge of the container */
  left: 50%;               /* start at 50% across */
  transform: translateX(-50%);  /* shift back by half its width to center */
  display: flex;           /* lay the buttons out in a row */
  gap: 8px;                /* space between buttons */
}
